<div class="custom-tooltip" [style.background-color]="color">

  <p>
    {{ data.ArticleDescription }}
  </p>
  <p>{{ data.ArticleNumber }}</p>
  <p><span>Status: </span>{{ data.SiteArticleStatus }}<span>-{{ data.SiteArticleStatusDesc }}</span></p>
  <p><span>SOH: </span>{{ data.SOH }}</p>
  <p><span>Cover: </span>{{ data.DaysCover}}</p>
  <p><span>Sold: </span>{{ data.LastSold}}</p>
  <p><span>Rec: </span>{{ data.LastReceived}}</p>
  <p><span>Ord: </span>{{ data.LastOrdered}}</p>
</div>
