:host {
  position: absolute;
  width: 380px;
  height: 70px;
  pointer-events: none;
  transition: opacity 1s;
}

:host.ag-tooltip-hiding {
  opacity: 0;
}

.custom-tooltip p {
  margin: 5px;
  white-space: nowrap;
}
