<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row" style="float: right;">
      <h4 class="headings">Site Days Cover</h4>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 15px;">
  <div class="col-md-12 grid-margin">
    <div class="search-container" style="float: right; padding-left: 15px;">
      <form action="">
      <select name="report" id="report" [(ngModel)]="chosenReport" (ngModelChange)="report()" style="width: 183px;">
        <option value="">Select Report</option>
        <option value="Store">Store</option>
        <option value="DC">DC</option>
      </select>
      </form>
    </div>
  </div>
</div>
<div class="col-md-12 grid-margin">
<div class="row">
  <div class="alert alert-info" style="width: 100%;">
    <p>This report is a daily snapshot of Site Days Cover</p>
  </div>
</div>
</div>
<div class="row" style="margin-bottom: 15px;">
  <div class="col-md-12 grid-margin">
    <div class="search-container" style="float: right; padding-left: 15px;">
      <form action="">
        <input type="text" placeholder="Filter Report" name="search" (keyup)="quickSearch()" [(ngModel)]="searchValue">
      </form>
    </div>

    <div style="float: left;">
      <button class="exporttoexcel" (click)="onBtExport()">Export to Excel</button>
    </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card position-relative">
      <div class="card-body">
        <ag-grid-angular
          style="width: 100%; height: 100vh;"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [animateRows]= "true"
          [pagination] = "true"
          [paginationPageSize] = "25"
          [sortingOrder] = "sortingOrder"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
